name: Helm CI

on: [push, pull_request]

jobs:
  helm-lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0

      - name: Helm lint
        run: helm lint .
      - name: Trivy container scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: nginx:1.19.0 #nginx:1.24.0-alpine
          format: table
          exit-code: 1  
          ignore-unfixed: true

      - name: Render templates
        run: helm template .
      - name: Confirm rendering  
        run: echo "Templates rendered successfully" 

      # Optional: run Helm tests (if defined)
      # - name: Run Helm tests
      #   run: |
      #     helm install test-chat ./chat --dry-run
      #     helm test test-chat || true
      #     helm uninstall test-chat
